<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

<div>
  <nav class="navbar navbar-expand navbar-dark bg-primary">
    <a href="#" class="navbar-brand">INTERFACE PATIENT</a>
    <div class="navbar-nav mr-auto">

	  <li class="nav-item">
        <a routerLink="home" class="nav-link">Accueil</a>
      </li>
	 
	  <li class="nav-item">
        <a routerLink="moncompte" class="nav-link">Mon compte</a>
      </li>
	  
	  <li class="nav-item">
        Bonjour!
      </li>

    </div>
	
    <div class="nav navbar-nav navbar-right">
      <a routerLink="logout" class="navbar-brand"><strong>Logout</strong></a>
    </div>
	
  </nav>

  <div class="container mt-3">
    <router-outlet></router-outlet>
  </div>
</div>

